@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=PT+Serif:wght@400;700&family=REM:wght@100&family=Roboto:ital,wght@0,100;0,300;0,900;1,100&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body{
  background-color:#f2f2f2;
}
  p {
   font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.demo-header{
 font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  font-size:24px;
}
.para{
  width:50%;
  padding:0 10px;
}
.modal-content-reed{
  background:#fff;
  width:35%;
}